<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/sptrailers" method="POST">
        <fieldset>
            <legend> Create new work order </legend>

            <label>
                Unit Number: <input type="text" name="trNumber" placeholder="Enter unit No" />
                
            </label>
            <br>
            <label>
                Isue descriptioon: <input type="text" name="issues" placeholder="Describe the issues"/>
                
            </label>
            <br>
            <label>
                Comments: <input type="text" name="comments" />
                
            </label>
            <br>
            <label>
                Is Complete: <input type="checkbox" name="isComplete"   />
                
            </label>
        </fieldset>
        <input type="submit" value="Create"/>
    </form>
    <a href="/sptrailers"><button>Back</button></a>
</body>
</html>